@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0px 0px 80px 0px;
}

#webcamVideo {
  width: 20vw;
  height: 15vw;
  margin: 2rem;
  top: 0px;
  background: #2c3e50;
  position: absolute;
  border: 10px solid red;
}

#remoteVideo {
  width: 20vw;
  height: 15vw;
  margin: 2rem;
  left: 400px;
  background: #2c3e50;
  position: absolute;
  border: 10px solid red;
}


